.box {
    width: 16rem;
    height: 25rem;
}
/*test 0.0.0*/
.content {
    width: 16rem;
    height: 25rem;
    position: relative;
    background: url('../images/background.png') no-repeat 0 0;
    background-size: 100%;
    -webkit-background-size: 100%;
}

.battle {
    width: 6.35rem;
    height: 1.525rem;
    position: absolute;
    top: 0;
    opacity:0;
    left: 5rem;
    background: url("../images/juezhanzhidian.png") no-repeat 0 0;
    -webkit-background-size: 100%;
    background-size: 100%;
}

.top3 {
    width: 10.35rem;
    height: 8.95rem;
    background: url("../images/top3.png") no-repeat 0 0;
    -webkit-background-size: 100%;
    background-size: 100%;
    position: absolute;
    top: 0rem;
    left: 2.8rem;
    opacity:0;
}

.content3 {
    width: 6.3rem;
    height: 3.6rem;
    position: absolute;
    top: 7.875rem;
    left: 4.925rem;
    opacity: 0;
    background: url("../images/yang.png") no-repeat 0 0;
    -webkit-background-size: 100%;
    background-size: 100%;
}

.bottom3 {
    width: 10.25rem;
    height: 8.85rem;
    background: url("../images/bottom.png") no-repeat 0 0;
    -webkit-background-size: 100%;
    background-size: 100%;
    position: absolute;
    top: 300rem;
    left: 2.925rem;
    /*animation-name: test_bottom3;
    animation-duration: 2s;
    animation-timing-function: ease-out;*/
}